# We will use docker to set up out environment, so don't use any particular
# language in Travis itself
language: generic

# Enable docker
sudo: required
services:
    - docker

# Disable automatic submodule fetching (it's done recursively)
git:
    submodules: false

# Do a shallow submodule fetch
before_install: git submodule update --init

env:
    global:
        # Make sure beaver is in the PATH
        - PATH="$(git config -f .gitmodules submodule.beaver.path)/bin:$PATH"
        - COVERAGE_REPORT="1"
    matrix:
        - DMD=1.081.1 DIST=xenial F=production AFTER_SCRIPT=1
        - DMD=1.081.1 DIST=xenial F=devel
        - DMD=2.070.2.s13 DIST=xenial F=production
        - DMD=2.070.2.s13 DIST=xenial F=devel

install: beaver dlang install

script: BEAVER_DOCKER_VARS="AFTER_SCRIPT COVERAGE_REPORT F" beaver dlang make

after_success:
    - beaver run ci/codecov.sh
    - test "$AFTER_SCRIPT" = "1" &&
        BEAVER_DOCKER_VARS="OCEAN_D2_USER OCEAN_D2_PASS"
        beaver run ci/d2tags.sh
