# Don't use any predefined language env
# (see https://github.com/travis-ci/travis-ci/issues/4895#issuecomment-150703192)
language: generic

sudo: required

services: docker

cache:
    directories: /tmp/docker-cache

install: ci/travis-install.sh

script: ci/travis-script.sh

after_success: ci/travis-after-success.sh
